body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:732px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:732px;
  display:flex;
  opacity:0.99;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u230_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:22px;
  width:219px;
  height:29px;
  display:flex;
  opacity:0.99;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_img.disabled {
}
#u230.disabled {
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:798px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:71px;
  width:413px;
  height:798px;
  display:flex;
  opacity:0.99;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:85px;
  width:363px;
  height:401px;
}
#u232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:401px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
.u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
  display:flex;
}
.u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u235 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:0px;
  width:217px;
  height:34px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
.u235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#B7172E;
}
.u236 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:64px;
  width:108px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#B7172E;
}
.u236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u233-1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:24px;
  width:344px;
  height:117px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:493px;
  width:341px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0541214772969852deg);
  -moz-transform:rotate(0.0541214772969852deg);
  -ms-transform:rotate(0.0541214772969852deg);
  transform:rotate(0.0541214772969852deg);
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:553px;
  width:341px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0541214772969852deg);
  -moz-transform:rotate(0.0541214772969852deg);
  -ms-transform:rotate(0.0541214772969852deg);
  transform:rotate(0.0541214772969852deg);
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:508px;
  width:261px;
  height:28px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:564px;
  width:261px;
  height:22px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
}
#u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  padding:3px 2px 3px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u241_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  padding:3px 2px 3px 2px;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:597px;
  width:317px;
  height:34px;
  display:flex;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u241 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u241.disabled {
}
.u241_input_option {
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(183, 23, 46, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:663px;
  width:141px;
  height:30px;
  display:flex;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:20px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
