body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:788px;
}
#u69_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:788px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:733px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:733px;
  display:flex;
  opacity:0.99;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:808px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:71px;
  width:413px;
  height:808px;
  display:flex;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u73_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:22px;
  width:219px;
  height:29px;
  display:flex;
  opacity:0.99;
  font-family:'Lora', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img.disabled {
}
#u73.disabled {
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:429px;
  width:145px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u74 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:520px;
  width:413px;
  height:359px;
}
#u75_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u77 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u78 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u79 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u76-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u76-3 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:255px;
  width:129px;
  height:170px;
}
#u76-4 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:255px;
  width:129px;
  height:170px;
}
#u76-5 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:480px;
  width:129px;
  height:170px;
}
#u76-6 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:480px;
  width:129px;
  height:170px;
}
#u76-7 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:705px;
  width:129px;
  height:176px;
}
#u76-8 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:705px;
  width:129px;
  height:170px;
}
#u76-9 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:936px;
  width:129px;
  height:170px;
}
#u76-10 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:936px;
  width:129px;
  height:170px;
}
#u76-11 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1161px;
  width:129px;
  height:170px;
}
#u76-12 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1161px;
  width:129px;
  height:170px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:1331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u81 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u82 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u83 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u80-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u85 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u86 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u87 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u87 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u84-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u89 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u90 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u90 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u91 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u91 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u88-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:-500px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u94 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u95 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u96 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:176px;
}
#u93-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u98 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u99 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u100 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u97-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u75_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
.u102 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  opacity:0.99;
}
.u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  text-align:center;
}
.u103 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:109px;
  height:14px;
  display:flex;
  font-size:9px;
  text-align:center;
}
.u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u104 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:156px;
  width:57px;
  height:14px;
  display:flex;
  font-size:9px;
  color:#D9001B;
  text-align:center;
}
.u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101-1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:129px;
  height:170px;
}
#u101-2 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:30px;
  width:129px;
  height:170px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:461px;
  width:412px;
  height:63px;
}
#u105_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:63px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
  display:flex;
}
.u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106-1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:20px;
  width:83px;
  height:23px;
}
#u106-2 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:20px;
  width:83px;
  height:26px;
}
#u106-3 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:20px;
  width:83px;
  height:23px;
}
#u106-4 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:20px;
  width:83px;
  height:23px;
}
#u106-5 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:20px;
  width:83px;
  height:23px;
}
#u106-6 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:20px;
  width:83px;
  height:23px;
}
#u106-7 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:20px;
  width:83px;
  height:23px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:87px;
  height:87px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:686px;
  width:77px;
  height:77px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:707px;
  width:40px;
  height:34px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:412px;
  height:328px;
  touch-action:pan-y;
}
#u112_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:328px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:234px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:234px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
  text-align:center;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:234px;
  width:300px;
  height:30px;
  display:flex;
  color:#8C8C8C;
  text-align:center;
}
#u115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:328px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u112_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:233px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:233px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
  text-align:center;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:234px;
  width:300px;
  height:15px;
  display:flex;
  color:#8C8C8C;
  text-align:center;
}
#u118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:328px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u112_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:233px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:233px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
  text-align:center;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:234px;
  width:300px;
  height:15px;
  display:flex;
  color:#8C8C8C;
  text-align:center;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122 {
  position:absolute;
  left:173px;
  top:342px;
}
#u122_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u122_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u122_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:223px;
  width:23px;
  height:40px;
  display:flex;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_img.mouseOver {
}
#u135.mouseOver {
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:40px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:23px;
  height:40px;
  display:flex;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_img.mouseOver {
}
#u136.mouseOver {
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-5px;
  width:418px;
  height:52px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:82px;
  width:398px;
  height:32px;
  display:flex;
  font-family:'Poppins ExtraLight Oblique', 'Poppins ExtraLight', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:250;
  font-style:oblique;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:20px;
  width:37px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
